.gitignore                export-ignore
.gitattributes            export-ignore
/docs/                    export-ignore
/tests/                   export-ignore
*.log                     export-ignore
build/temp/               export-ignore
scriptArchives/           export-ignore
